*{
  margin:0;
  padding:0;
  box-sixzing:border-box;
}
a{
  text-decoration:none;
  color:#222222;
}
body {
  width:100%;
  height:600px;
  background-image: url(photo/minami.jpg);
  background-size:cover;
  background-position:center;
  background-attachment: fixed;
}
header {
  width:100%;
  height:70px;
  background-color:#333333;
}
.header-group{
  display:flex;
  justify-content: space-between;
}
.container{
  width:1024px;
  margin:0 auto;
}
.logo{
  height:70px;
  color:#FAFAFA;
  width:100px;
  opacity:0.5;
}
.nav {
  display:flex;
}
.nav-list{
  list-style:none;
  line-height:70px;
  font-size:16px;
  padding:0 30px;
}
.nav-list a{
  color: #FAFAFA;
  width:100%;
}
#mv{
  width:100%;
  height:600px;
  text-align: center;
  color:#FAFAFA;

}
.mv-title{
  padding-top:180px;
  font-size:64px;

}
.mv-text{
  padding-top: 30px;
  font-size:20px;
}



#masterpeaces{
  background-color:#666666;
  color:#FAFAFA;
}
.heading{
  padding-top:90px;
  text-align:center;
  font-size:32px;
}
.heading-text{
  padding-top:30px;
  text-align:center;
  font-size:16px;
}
.works {
  display:flex;
  flex-wrap:wrap;
  width:950px;
  padding:30px 0 90px 0;
  margin:0 auto;
}

.work{
  width:300px;
  height:250px;
  margin:10px 10px 0 0;
  background-size:cover;
  background-position:center;
}

.bg-1{
  background-image:url(photo/1.jpg);
}
.bg-2{
  background-image:url(photo/2.jpg);
}
.bg-3{
  background-image:url(photo/3.jpg);
}
.bg-4{
  background-image:url(photo/4.jpg);
}
.bg-5{
  background-image:url(photo/5.jpg);
}
.bg-6{
  background-image:url(photo/6.jpg);
}

#equipments{
  color:#FAFAFA;
}
.photo-eq-group{
  display:flex;
  width:980px;
  padding:30px 0 90px 0;
  margin:0 auto;
}
.photo-eq{
  width:320px;
  margin-right:10px;
  text-align:center;
  font-size:60px;
}
.fa{
  display:inline-block;
  font-size:inherit;
}

.photo-eq-title{
  padding:10px 0;
  font-size:20px;
}
.photo-eq-text{
  text-align: center;
  font-size:16px;
}
#profile{
  background-color:#666666;
  color:#FAFAFA;
}
.profile-group{
  display:flex;
  padding:30px 0 90px 0;
}
.left-content{
  width:50%;
}
.right-content{
  width:50%;
}
.face-img{
  width:250px;
  height:250px;
  margin:0 auto;
  border-radius:50%;
  background-image:url(photo/rumika.jpg);
  background-size:cover;

}
.introduction-title:first-child{
  margin-top:0;
}
.introduction-title{
  margin: 20px 0 5px 0;
  font-size:20px;
}
.introduction-text{
  font-size:16px;
}
#contact{
 background-color:#EEEEEE;
}
.contact-group{
  display:flex;
  width:800px;
  padding:30px 0 90px 0;
  margin:0 auto;
}
.left-contact{
  width:50%;
}
.right-contact{
  width:50%;
}
.left-contact-content{
  width:130px;
  margin:0 auto;
}
.right-contact-content{
  width:200px;
  margin:0 auto;
}
.right-contact-content .fab{
  font-size:50px;
  margin-right:20px;
  margin-top:10px;
}
footer {
  width:100%;
  height:150px;
  background-color:#333333;
  color:#FAFAFA;
  line-height: 150px
}
.footer-text{
  dont-size:16px;
  text-align:center;
}
